.todosList {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.cardsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cardList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 400px;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: grab;
}

.active {
}
