/* linear loading */
.barContainer {
  position: absolute;
  top: 70px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #bdbdbd;
  z-index: 9999;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  height: 100%;
  width: 0;
  right: 0;
}

.bar:nth-child(1) {
  background-color: var(--color-accent-100);
  animation: linear_loader 3s linear 1s infinite;
}

.bar:nth-child(2) {
  background-color: var(--color-accent-300);
  animation: linear_loader 3s linear 2s infinite;
}

.bar:nth-child(3) {
  background-color: var(--color-accent-500);
  animation: linear_loader 3s linear 3s infinite;
}

@keyframes linear_loader {
  0% {
    right: 100%;
    width: 10%;
  }
  30% {
    right: 0;
    width: 40%;
  }
  50% {
    right: 0;
    width: 0;
  }
  80% {
    right: 0;
    width: 0;
  }
  100% {
    right: 0;
    width: 0;
  }
}
/* end linear loading */
