.LoginForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  padding: 33px 36px;
  max-width: 50%;
  width: 100%;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  & > * {
    width: 100%;
  }
}

.loginTitle {
  text-align: center;
}
